*{
    padding: 0%;

    margin: 0%;
}
.banner{
    position: absolute;
    top: 30%;
    display: flex;
    
}
.zone{
    
    width: 100%;
    height:100%;
}
.zone2{
    border:  1px solid black;
  
    
    
}
.lin{
    text-decoration: none;
    word-spacing: 50%;
    color: white;
   
}
.lis{
    list-style-type: none;
    display: inline-block;
    margin: 1%;
    color: white;
    
}